<div style="display: flex">
  <h1>New Channel</h1>
  <div style="flex: 1"></div>
  <%= link_to 'Back', channels_path, class: "btn btn-outline-secondary", style: "width: 75px; height: 38px" %>
</div>

<%= render 'form', channel: @channel %>

